<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    $control.setTemplate("assets.vm")
    <base target="_blank" />
</head>
<body>

    <div class="all">

        $control.setTemplate("header.vm")
        $screen_placeholder
        $control.setTemplate("footer.vm")

    </div>

</body>
</html>###showHead ("My Simple Webx Application")
##<body #bodyAttributes ()>